{% extends "reload/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "reload/css/forms.css" %}" />{% endblock %}
{% block content_title %} <h1>{{title}}</h1> {% endblock %}

{% block content %}
{% load static %}
<!doctype html>
<html>

<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
<table>
        {{ form }}
</table>

    {% if user.is_anonymous or not editable %}
    <p style="color:red";> {% trans 'Niem masz uprawnień do modyfikacji.' %} </p>
    {% endif %}

    <div class="submit-row">
        {% if not user.is_anonymous and editable %}
            <input type="submit" value="{% trans 'Zapisz' %}">
        {% endif %}
        <input type="button" value="{% trans 'Powrót' %}"  onclick="history.back()">
    </div>

</form>
</html>
{% endblock %}

