{% extends "reload/base.html" %}
{% load i18n static %}

{% block content_title %}
<!-- <h1>{{title}}</h1> /!-->
<h2><p align="center"; style="color:red";> {% trans 'Pamiętaj, elaborujesz na własną odpowiedzialność! Poniższe dane nie zwalniają z myślenia.' %}</p></h2>
{% endblock %}

{% block content %}
{% load render_table from django_tables2 %}
{% load static %}
{% load bootstrap3 %}



{% if filter %}
{% if not user.is_anonymous %}
    <form action="" method="get" class="form form-inline" onchange="this.form.submit()" style="disabled">
        {% bootstrap_form filter.form %}
        {% bootstrap_button 'Filtruj' %}

    </form>
{% else %}
<p align="center"; style="color:gray"> <i>{% trans 'Filtrowanie dostępne dla zalogowanych użytkowników.' %}</i> </p>
{% endif %}


{% endif %}



{% render_table table 'reload/bootstrap.html' %}

{% if not user.is_anonymous %}
<div class="submit-row">
    <a  href="{% url 'load_new'   %}"><input type="button" value="{% trans 'Nowa elaboracja' %}" /> </a>
    <a  href="{% url 'caliber_new'%}"><input type="button" value="{% trans 'Nowy kaliber broni' %}" /> </a>
    <a  href="{% url 'diameter_new'%}"><input type="button" value="{% trans 'Nowa kalibracja pocisku' %}" /> </a>
    <a  href="{% url 'bullet_new' %}"><input type="button" value="{% trans 'Nowy pocisk' %}" /> </a>
    <a  href="{% url 'powder_new' %}"><input type="button" value="{% trans 'Nowy proch' %}" /> </a>
</div>
 {% endif %}

{% if user.is_anonymous %}
    <div class="submit-row">
        <p align="center"; style="color:red";> {% trans 'Aby dodawać nowe dane -  musisz się zalogować.' %}</p>
    </div>
{% endif %}

{% endblock %}
